<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>ascript</string>
		<string>asc</string>
	</array>
	<key>Name</key>
	<string>Ascript</string>
	<key>Scope</key>
	<string>source.ascript</string>
	<key>uuid</key>
	<string>60519324-6A3A-4382-9E0B-546993A3869A</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>name</key>
			<string>keyword.control.untitled</string>
			<key>match</key>
			<string>\b(if|while|for|return)\b</string>
		</dict>
		<dict>
			<key>name</key>
			<string>string.quoted.double.untitled</string>
			<key>begin </key>
			<string>&quot;</string>
			<key>end </key>
			<string>&quot;</string>
		</dict>
	</array>
</dict>
</plist>
